@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 16px;
	background-color: lightgray;
}

body p {
	font-family: "Gentium Book Basic"
}

body h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans"
}

#home {
	background: #fff;
	border-radius: 5px;
	padding: 5px 20px;
	font-size: 1rem;
	outline: none;
	border-style: none;
}

header #title {
	display: block;
	/*margin: 0 auto;*/
	/*max-width: 375px;*/
	text-align: center;
}

header span {
	font-family: "Gentium Book Basic";
	font-size: 3rem;
	font-style: italic;
	color: #F56400;
	display: inline-block;
}

header #title h1 {
	color: #F56400;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 700;
	display: inline-block;
	/*margin: 0 auto;*/
	/*width: 50%;*/
	padding: 0 15px;
}

#search {
	display: block;
    /*margin: 0 auto;*/
    /*max-width: 375px;*/
    text-align: center;
}

#search input {
	display: inline-block;
	/*margin: 0 auto;*/
	width: 200px;
	padding: 10px;
	font-size: 1rem;
	margin-left: 30px;
}

#search input:focus {
	border: 2px solid #F56400;
	outline: none;
	transition: .5s ease;
}

header #search button {
	background-color: #34A8C4;
	color: #fff;
	border-radius: 5px;
	margin-left: 10px;
	padding: 10px 20px;
	border-style: none;
	font-size: 1rem;
	margin-bottom: 30px;
}

#info {
	font-family: "Gentium Book Basic";
}

.item-box {
	/*border: 1px solid #34A8C4;*/
	padding: 10px;
	margin: 10px;
	float: left;
    width: 22%;
    height: 300px;
    background: #fff;
    border-radius: 5px;
}

.item-box h3 {
	font-family: "Gentium Book Basic"
}

.indie-item {
	background-color: #fff;
	max-width: 75%;
	margin: 0 auto;
	display: block;
	border-radius: 5px;
}

.indie-item img {
	width: 75%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.indie-item h3 {
	text-align: center;
}

.indie-item p {
	padding: 10px 5%;
	text-align: center;
}